<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<title>Teacher update</title>
<!-- <link rel = "icon" th:href="@{/images/unox_title.ico}" 
        type = "image/x-icon"> -->
</head>

<body>
	<div th:insert="fragments/commonui :: userhead"></div>
	<div th:insert="fragments/commonui :: usermenu"></div>
	<div class="container">

		<div class="card">
			<div class="card-header bg-secondary bg-gradient text-white text-center">
				<h3>TEACHER UPDATE </h3>
			</div>


			<div class="card-body">
				<form id="teacher" th:action="@{/teacher/update}" method="POST"
					th:object="${teacher}">



					<div class="row">
						<div class="col-2">
							<label>NAME</label>
						</div>
						<div class="col-5">
						
								<input type="text" id="name" th:field="*{name}"
								 class="form-control" />
								 <input type="hidden" id="teacherId" th:field="*{teacherId}"
								 class="form-control" />
						</div>
						<div class="col-5">
							<span id="nameError"></span>
						</div>
					</div>
					<br>
						<div class="row">
						<div class="col-2">
							<label>EMAIL</label>
						</div>
						<div class="col-5">
							<input type="text" id="email" th:field="*{email}"
								class="form-control" />
						</div>
						<div class="col-5">
							<span id="emailError"></span>
						</div>
					</div>
					<br>
						<div class="row">
						<div class="col-2">
							<label>CONTACT NUMBER</label>
						</div>
						<div class="col-5">
							<input type="text" readonly="readonly" id="mobileNumber" th:field="*{mobileNumber}"
								class="form-control" />
								<input type="hidden" id="password" th:field="*{password}"
								class="form-control"  />
						</div>
						<div class="col-5">
							<span id="mobileNumberError"></span>
						</div>
					</div>
					<br>
						<!-- <div class="row">
						<div class="col-2">
							<label>PASSWORD</label>
						</div>
						<div class="col-5">
							<input type="text" id="password" th:field="*{password}"
								class="form-control"  />
						</div>
						<div class="col-5">
							<span id="passwordError"></span>
						</div>
					</div>
					<br> -->
						<div class="row">
						<div class="col-2">
							<label>SUBJECT</label>
						</div>
						<div class="col-5">
							<select th:field="*{subject.subjectId}" id="subject"
								class="form-control">
								<option value="">-SELECT-</option>
								<option th:each="ob:${subjects}" th:value="${ob.key}"
									th:text="${ob.value}"></option>
							</select>
						</div>
						<div class="col-5">
							<span id="subjectError"></span>
						</div>
					</div>
					<input type="submit" value="UPDATE" class="btn btn-secondary btn-gradient" />
				</form>
			</div>
			<!--card body end-->

			<div class="card-footer bg-secondary bg-gradient text-white text-center"
				th:if="${message != null}">
				<span th:text="${message}"></span>
			</div>

		</div>
		<!--card end-->

	</div>
	<!--container end-->
	<script type="text/javascript" th:src="@{/js/teacher.js}"></script>
	
</body>
</html>