<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Assignmnet Data</title>
<!-- <link rel="icon" th:href="@{/images/unox_title.ico}" type="image/x-icon"> -->
</head>
<body>
	<div th:insert="fragments/commonui :: userhead"></div>
	<div th:insert="fragments/commonui :: usermenu"></div>
	<div class="container-fulter">

		<div class="card">

			<div class="card-header bg-secondary bg-gradient text-white text-center">
				<h3>Assignment View</h3>
			</div>

			<div class="card-body">

				<hr>
				<form action="all" method="GET">
					<div class="row">
						<div class="col-4">
							<input type="text" name="name" class="form-control"
								placeholder="batch name" />
						</div>
						<div class="col-4">
							<input type="submit" value="Search" class="btn btn-secondary btn-gradient" />
						</div>
					</div>
				</form>
				<hr>

				<hr />

				<table class="table table-hover">
					<tr class="bg-secondary bg-gradient text-white">
						<th>Sl.No</th>
						<th>STARTDATE</th>
						<th>ENDDATE</th>
						<th>STARTTIME</th>
						<th>ENDTIME</th>
						<th>BATCH</th>
						<th>TEACHER</th>
						<th>SUBJECT</th>
						<th>OPERATION</th>
						<th>DOWNLOAD</th>
					</tr>
					<tr th:each="ob,count:${list}">
						<td th:text="${count.count}"></td>
						<td th:text="${ob.startDatetime}"></td>
						<td th:text="${ob.endDatetime}"></td>
						<td th:text="${ob.startTime}"></td>
						<td th:text="${ob.endTime}"></td>
						<td th:text="${ob.Batch.batch}"></td>
						<td th:text="${ob.teacher.name}"></td>
						<td th:text="${ob.subject.subjectName}"></td>
						<td>
						<div>
								<a class="btn btn-info btn-gradient"
									th:href="@{/assignment/viewAllStudentById?assignmenetId={id}(id=${ob.assignmentId})}">View</a>
							</div>
							
						</td>
						<td>
						<div>
								<a class="btn btn-info btn-gradient"
									th:href="@{/assignment/downlaod?asignmentId={id}&filePath={uploadFilePath}(id=${ob.assignmentId},uploadFilePath=${ob.uploadFilePath})}">Download</a>
							</div>
							
						</td>
							
					</tr>
				</table>
			</div>
			<!--card body end-->

		</div>
		<!-- card end -->

		<!-- PAGINATION  START-->
		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">

				<li th:if="${page.hasPrevious()}" class="page-item"><a
					class="page-link" th:href="@{/assignment/all_assignment(page=${page.number-1})}">
						<i class="fa fa-angle-double-left" aria-hidden="true"></i>
				</a></li>

				<th:block th:each="i,ac:${#numbers.sequence(0,page.totalPages-1)}">
					<li
						th:class="${ac.index ==page.number ? 'page-item active' : 'page-item'}">

						<a class="page-link" th:href="@{/assignment/all_assignment(page=${i})}">[[${i+1}]]</a>

					</li>
				</th:block>

				<li th:if="${page.hasNext()}" class="page-item"><a
					class="page-link" th:href="@{/assignment/all_assignment(page=${page.number+1})}">
						<i class="fa fa-angle-double-right" aria-hidden="true"></i>
				</a></li>
			</ul>
		</nav>

		<!-- PAGINATION  END-->

	</div>
	<!-- container end -->
</body>
</html>