<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">


<title>Upload Assignment</title>

<body>
	<div th:insert="fragments/commonui :: userhead"></div>
	<div th:insert="fragments/commonui :: usermenu"></div>


	<section id="cover" class="min-vh-100" style="width: 100%;">
		<div class="container">
			<div class="card">
				<div class="card-header  bg-gradient text-white text-center" style="background: smoke-white">

				</div>


				<div class="card-body mt-2 ">
					<form id="conference" th:action="@{/assignment/uploadfile}" enctype="multipart/form-data"
						method="POST" th:object="${assignment}" style="align-self: center; width: 100%">

						<div style="text-align: center; margin-bottom: 30px;">
							<h3>Upload Assignment</h3>
						</div>
						<div class="container-fluid text-center align-item-center mr-4" style="margin-right: 30px;">
							<div class="row">
								<div class="col-2">
									<label>NAME</label>
								</div>
								<div class="col-5">
									<input type="text" required="required" name="name" id="name" th:field="*{name}"
										class="form-control" />

									<!--					<input type="hidden" name="conferenceId" id="conferenceId"
										th:field="*{conferenceId}" class="form-control" />
-->
								</div>
								<div class="col-5">
									<span id="nameError"></span>
								</div>

							</div>
							<br>
							<div class="row">
								<div class="col-2">
									<label>START DATE</label>
								</div>
								<div class="col-5">
									<input type="date" required="required" name="startDate" id="startDate"
										th:field="*{startDate}" class="form-control" />

									<!--					<input type="hidden" name="conferenceId" id="conferenceId"
										th:field="*{conferenceId}" class="form-control" />
-->
								</div>
								<div class="col-5">
									<span id="startError"></span>
								</div>

							</div>
							<br>
							<div class="row">
								<div class="col-2">
									<label>START TIME</label>
								</div>
								<div class="col-5">
									<input type="time" required="required" name="sTime" id="sTime" th:field="*{sTime}"
										class="form-control" />

								</div>
								<div class="col-5">
									<span id="endTimeError"></span>
								</div>
							</div>
							<br>

							<div class="row">
								<div class="col-2">
									<label>END DATE</label>
								</div>
								<div class="col-5">
									<input type="date" required="required" name="endDate" id="endDate"
										th:field="*{endDate}" class="form-control" />
									<!-- <input type="hidden"
										name="conferenceId" id="conferenceId" th:field="*{conferenceId}"
										class="form-control" />-->
								</div>
								<div class="col-5">
									<span id="startError"></span>
								</div>

							</div> <br>

							<div class="row">
								<div class="col-2">
									<label>END TIME</label>
								</div>
								<div class="col-5">
									<input type="time" required="required" name="eTime" id="eTime" th:field="*{eTime}"
										class="form-control" />

								</div>
								<div class="col-5">
									<span id="endTimeError"></span>
								</div>
							</div>
							<br>

							<!-- <div class="row">
						<div class="col-2">
							<label>START TIME</label>
						</div>
						<div class="col-5">
							<input type="time" name="startTime" id="startTime" th:field="*{startTime}"
								class="form-control" /> 
						</div>
						<div class="col-5">
							<span id="startTimeError"></span>
						</div>

					</div>
					<br>
					<div class="row">
						<div class="col-2">
							<label>END TIME</label>
						</div>
						<div class="col-5">
							<input type="time" name="endTime" id="endTime" th:field="*{endTime}"
								class="form-control" /> 
						</div>
						<div class="col-5">
							<span id="endTimeError"></span>
						</div>

					</div>
					<br> -->
							<div class="row">
								<div class="col-2">
									<label>SUBJECT</label>
								</div>
								<div class="col-5">
									<select th:field="*{subject.subjectId}" required="required" id="subject"
										class="form-control">
										<option value="">-SELECT-</option>
										<option th:each="ob:${subjects}" th:value="${ob.key}" th:text="${ob.value}">
										</option>
									</select>
								</div>
								<div class="col-5">
									<span id="subjectError"></span>
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-2">
									<label>TEACHER</label>
								</div>
								<div class="col-5" id="ht">
									<select th:field="*{teacher.teacherId}" required="required" id="teacher"
										class="form-control">
										<option value="">-SELECT-</option>
										<option th:each="ob:${teachers}" th:value="${ob.key}" th:text="${ob.value}">
										</option>
									</select>
								</div>
								<div class="col-5">
									<span id="teacherError"></span>
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-2">
									<label>BATCH</label>
								</div>
								<div class="col-5">
									<select th:field="*{batch.batchId}" required="required" id="batch"
										class="form-control">
										<option value="">-SELECT-</option>
										<option th:each="ob:${batchs}" th:value="${ob.key}" th:text="${ob.value}">
										</option>
									</select>
								</div>
								<div class="col-5">
									<span id="batchError"></span>
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-2">
									<label>UPLOAD ASSIGNMENT</label>
								</div>
								<div class="col-5">
									<input type="file" th:field="*{uploadFile}" id="uploadFile" accept=".pdf" required
										class="form-control" />
								</div>
								<div class="col-5">
									<span id="uploadFileError"></span>
								</div>
							</div>
							<br>



							<input type="submit" value="SAVE" class="btn btn-success text-center mt-5 w-100" />
						</div>
					</form>
				</div>
				<!--card body end-->

				<div class="card-header bg-secondary bg-gradient text-white text-center" th:if="${message != null}">
					<span th:text="${message}"></span>
				</div>

			</div>
			<!-- card end -->

		</div>
	</section>
	<script type="text/javascript" th:src="@{/js/conference.js}"></script>


</body>

</html>