<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<title>School Register</title>
<!-- <link rel = "icon" th:href="@{/images/unox_title.ico}" 
        type = "image/x-icon"> -->
</head>

<body>
	<div th:insert="fragments/commonui :: userhead"></div>
	<div th:insert="fragments/commonui :: usermenu"></div>
	<div class="container">
		<div class="card">
			<div class="card-header bg-secondary bg-gradient text-white text-center">
				<h3>SCHOOL REGISTE</h3>
			</div>


			<div class="card-body">
				<form id="school" th:action="@{/school/save}" method="POST"
					th:object="${school}">

					<div class="row">
						<div class="col-2">
							<label>NAME</label>
						</div>
						<div class="col-5">
							<input type="text" name="name" id="name" th:field="*{name}"
								class="form-control" />
						</div>
						<div class="col-5">
							<span id="nameError"></span>
						</div>

					</div>
					<br>
					<div class="row">
						<div class="col-2">
							<label>INSTITUTE</label>
						</div>
						<div class="col-5">
							<input type="text" th:field="*{institute}" id="institute"
								class="form-control" />
						</div>
						<div class="col-5">
							<span id="instituteError"></span>
						</div>
					</div>
<br>
					<div class="row">
						<div class="col-2">
							<label>ADDRESS</label>
						</div>
						<div class="col-5">
							<input type="text" name="address" id="address"
								th:field="*{address}" class="form-control" />
						</div>
						<div class="col-5">
							<span id="addressError"></span>
						</div>
					</div>
<br>

					<input type="submit" value="SAVE" class="btn btn-success" />
				</form>
			</div>
			<!--card body end-->

			<div class="card-header bg-secondary bg-gradient text-white text-center"
				th:if="${message != null}">
				<span th:text="${message}"></span>
			</div>

		</div>
		<!--card end-->

	</div>
	<script>
$(document).ready(function(){
    //1. hide error section
    $("#nameError").hide();
    $("#instituteError").hide();
    $("#addressError").hide();

    //2. error variable
    var nameError = false;
    var instituteError = false;
    var addressError = false;

    //3. validate function
    function validate_name() {
        var val = $("#name").val();
        if(val=='') {
            $("#nameError").show();
            $("#nameError").html(" name can not be empty");
            $("#nameError").css("color","red");
            nameError = false;
        } else{

            var id="";
            if($("#name").val()!=undefind){
                id=$("#id").val();
            }
            
            $("#nameError").hide();
            //ajax call start
            $.ajax({
                url : 'validate',
                data: {'username':val,'id':id},
                success:function(resTxt) {
                    if(resTxt=='') { //no error
                        $("#nameError").hide();
                        nameError = true;
                    } else{ 
                        $("#nameError").show();
                        $("#nameError").html(resTxt);
                        nameError = false;
                    }
                }
            });
        }
        return nameError;
    }


    function validate_institute() {
        var val = $("#institute").val();
        if(val=='') {
            $("#instituteError").show();
            $("#instituteError").html("Institute can't be empty ");
            $("#instituteError").css("color","red");
            instituteError = false;
        } 
       else{
            $("#instituteError").hide();
            instituteError = true;
        }
        return instituteError;
    }

    function validate_address() {
        var val = $("#address").val();
        var exp = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
        if(val=='') {
            $("#addressError").show();
            $("#addressError").html("Please enter address");
            $("#addressError").css("color","red");
            addressError = false;
        } 
        else{
            $("#addressError").hide();
            addressError = true;
        }
        return addressError;
    }

    //4. link input with action
    $("#name").keyup(function(){
        validate_name();
    });
    $("#institute").keyup(function(){
        validate_institute();
    });
    $("#address").keyup(function(){
        validate_address();
    });
    
    //5. submit button
    $("#school").submit(function(){
        //call all validate functions
         validate_name();
         validate_institute();
         validate_address();

        // check all error variables
        // if all true then submit form return true
        //&& instituteError && addressError
        if(nameError && instituteError && addressError )
            return true;
        // else false
        else return false;
    });

});


    </script>
</body>
</html>